body {
  font-family: roboto;
}
.post-1 {
  background: #9d27b0;
}
.post-2 {
  background: #9bb800;
}
.post-3 {
  background: #ed5120;
}
.post-4 {
  background: #9d27b0;
}
.post-5 {
  background: #2d95bb;
}

/* Your styles go here */
html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0b192f;
  max-width: 1400px;
  margin: 0 auto;
  color: #fff;
}

h2 {
  font-size: 3rem;
  font-weight: 100;
}

p {
  font-weight: 100;
  line-height: 1.5rem;
}

img {
  width: 100%;
}

header {
  background-color: #024161;
  height: 6rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-bottom: 2%;
}

header .burger {
  display: none;
}

header .logo {
  font-size: 2rem;
  font-weight: 100;
  margin-left: 2%;
}

header .logo span {
  color: #a52a2a;
}

header nav {
  width: 35%;
  margin-right: 4%;
}
nav ul {
  display: flex;
  font-weight: 300;
  justify-content: space-around;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  padding: 2.4rem;
  color: #fff;
}

nav ul li a:hover {
  background-color: #1f52a4;
}

main {
  margin-bottom: 2%;
}

main .hero {
  position: relative;
  margin-bottom: 2%;
}

main .hero .hero-title {
  position: absolute;
  bottom: 0;
  left: 2rem;
  font-size: 3rem;
  font-weight: 100;
  margin-bottom: 7rem;
}

main .hero .hero-subtitle {
  position: absolute;
  bottom: 0;
  width: 42rem;
  left: 2rem;
  margin-bottom: 3rem;
}

main .posts-news {
  display: flex;
}

.posts-news article {
  background: #453b4b;
}

.posts-news article img {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.posts-news img:hover,
.posts-news article div:hover {
  opacity: 0.5;
}

main .horizontal-posts {
  width: 100%;
  margin-right: 2%;
}

.horizontal-posts .post {
  display: flex;
  height: 306px;
  position: relative;
}

.horizontal-posts .post .date {
  font-size: 2rem;
  margin-top: 1.75rem;
  position: absolute;
  opacity: 0.3;
  display: flex;
  font-size: 3rem;
  flex-direction: column;
}

.horizontal-posts article:nth-of-type(odd) .date .month {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-left: 0.2rem;
}

.horizontal-posts article:nth-of-type(odd) .date {
  right: 0;
  top: 0;
  margin-top: 2rem;
  margin-right: 1.5rem;
}

.horizontal-posts article:nth-of-type(even) .date .month {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-left: 0.2rem;
}

.horizontal-posts article:nth-of-type(even) .date {
  left: 0;
  top: 0;
  margin-top: 2rem;
  margin-left: 0.5rem;
}

.post img {
  width: 49.6%;
  height: auto;
}

.text {
  padding: 2.5rem;
  width: 61%;
}

.text h2 {
  margin-bottom: 1rem;
}

.horizontal-posts .post2 {
  flex-direction: row-reverse;
}

.post:nth-of-type(even) {
  text-align: right;
}

.horizontal-posts .post4 {
  flex-direction: row-reverse;
}

.horizontal-posts .post5 {
  height: auto;
}

.horizontal-posts .post-5 {
  width: 100%;
  height: 220px;
}

.vertical-news {
  width: 33%;
  height: 100%;
  color: #000;
}

.vertical-news div {
  padding: 2.5rem;
}

.vertical-news h2 {
  font-size: 2rem;
}

.vertical-news article {
  margin-bottom: 8%;
  background-color: #fff;
}

footer {
  display: flex;
  height: auto;
  padding: 2rem;
  justify-content: space-between;
  background-color: #024161;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0 0.6rem 0.3rem;
  }

  header {
    height: 13rem;
    flex-direction: column-reverse;
    justify-content: center;
  }

  header .burger-menu {
    margin-bottom: 3.5rem;
  }

  header .burger-menu div {
    opacity: 0.7;
    width: 1.7rem;
    height: 0.15rem;
    background-color: #fff;
    margin: 6px 0;
  }

  header .logo span {
    color: #9d27b0;
  }

  header nav {
    display: none;
  }

  .hero img {
    height: 22rem;
  }

  .hero h2,
  .hero p {
    opacity: 0.7;
  }

  main .horizontal-posts {
    margin-right: unset;
  }

  .posts-news .horizontal-posts .post {
    flex-direction: column;
    height: unset;
    width: 96%;
  }

  .posts-news .horizontal-posts .post img {
    width: 100%;
  }

  .posts-news .horizontal-posts .post .text {
    width: 100%;
    position: relative;
    text-align: left;
  }

  .horizontal-posts article .text .date {
    right: 0;
    left: unset;
    margin-right: 1rem;
  }

  .text h2 {
    width: 75%;
  }

  .horizontal-posts article:nth-of-type(5) .text {
    height: 24rem;
  }

  .horizontal-posts article:nth-of-type(5) .date {
    top: unset;
    bottom: 1.5rem;
    right: 45%;
  }

  .vertical-news {
    width: 41%;
  }

  .vertical-news h2 {
    font-size: 1.4rem;
  }

  .vertical-news p {
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin-top: 1rem;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }

  footer p {
    opacity: 0.5;
  }
}

@media screen and (max-width: 480px) {
  main .hero .hero-title {
    width: 75%;
    margin-bottom: 10rem;
  }
  main .hero .hero-subtitle {
    width: 75%;
  }

  main .posts-news {
    flex-direction: column;
  }

  .posts-news .horizontal-posts .post {
    width: 100%;
  }

  .text h2 {
    width: 100%;
  }

  .vertical-news {
    width: 100%;
  }
}
