@mixin button($textColor, $backgroundColor) {
  color: $textColor;
  background-color: $backgroundColor;
  height: 2rem;
  border: none;
  width: 6rem;
  border-radius: 0.2rem;
}

@mixin link($color, $distance) {
  color: $color;
  margin-left: $distance;
}

@function logo-image($size) {
  @return $size;
}

html {
  box-sizing: border-box;
  font-family: $fontFamily;
}
*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.landing-logo {
  display: flex;

  img {
    width: logo-image(30px);
  }

  p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.7rem;
    color: $textMainColor1;

    span {
      font-size: 0.5rem;
      text-align: center;
    }
  }
}

.header {
  background: $heroImg;
  background-size: cover;
  border-bottom-right-radius: 35%;
  height: 38rem;
  background-position: center;
  padding-top: 1.3rem;
  background-repeat: no-repeat;

  &:before {
    background-color: $mainBackColor;
    z-index: -2;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .header-wrap {
    width: 20rem;
    margin-left: 10rem;

    .header_heading {
      margin-top: 4rem;
      font-size: 2.7rem;
      font-weight: bold;
      position: relative;
      z-index: 100;
      color: $textMainColor1;

      &:before {
        content: "";
        background-color: $wordHighlight3;
        left: 0;
        top: 3.8rem;
        height: 37px;
        width: 12.5rem;
        position: absolute;
        z-index: -1;
      }
    }

    .header_text {
      margin-top: 4rem;
      // opacity: 0.5;
      line-height: 1.3rem;
      width: 31.4rem;
      color: $textMainColor1;
    }

    div:nth-of-type(2) {
      margin-top: 4.5rem;
      width: 30rem;

      button.header_button {
        @include button($btnTextColor, $btnBackColor);
      }

      a {
        @include link(#fff, 9rem);
      }
    }
  }
}

main {
  position: relative;
  background-color: $mainBackColor;

  .section_text {
    position: relative;
    text-align: center;
    height: 6rem;
    font-size: 2rem;
    display: flex;
    width: 21rem;
    margin-left: auto;
    margin-right: auto;
    color: $textMainColor1;
    justify-content: center;
    align-items: center;
    z-index: 100;

    &:before {
      content: "";
      background-color: $wordHighlight3;
      height: 38px;
      width: 9rem;
      position: absolute;
      z-index: -1;
      right: 12px;
      bottom: 34px;
    }
  }

  .section_card_wrap {
    margin-bottom: 10rem;

    &:after {
      background-color: $mainBackColor;
      z-index: -2;
      content: "";
      display: block;
      height: 10rem;
      position: absolute;
      width: 100%;
    }

    .section_card {
      display: flex;
      width: 50rem;
      margin-left: auto;
      margin-right: auto;
      padding: 1rem;
      background-color: $backCardColor;
      margin-bottom: 1.3rem;
      height: 15rem;
      color: #fff;
      border-radius: 0.3rem;

      &:nth-of-type(3) {
        margin-bottom: unset;
      }

      .section_card_img {
        width: 20rem;
        border-radius: 0.3rem;
      }

      .section_card_right_container {
        text-align: center;
        margin-left: auto;
        margin-right: auto;

        .section_card_heading {
          color: $cardHeadingTextColor;
          font-weight: bold;
          margin-top: 2.3rem;
        }

        .section_card_text {
          color: $cardTextcolor;
          text-align: justify;
          font-size: 0.7rem;
          line-height: 1rem;
          margin-top: 1.5rem;
          width: 22rem;
          opacity: 0.7;
          margin-bottom: 1.7rem;
        }

        a {
          @include link($cardTextcolor, unset);
          font-size: 0.7rem;
          opacity: 0.7;
        }
      }
    }
  }

  .section_banner {
    width: 55rem;
    height: 7rem;
    margin: 7rem auto 0;
    display: flex;
    border-radius: 0.3rem;
    padding: 1rem;
    background-image: $bannerGradientColor;
    position: absolute;
    bottom: -13.5rem;
    left: 50%;
    margin-left: -440px;

    p {
      margin-left: 7rem;

      &.section_banner_heading {
        color: $textMainColor1;
        font-size: 1.5rem;
        font-weight: bold;
        position: relative;
        z-index: 100;

        &:before {
          content: "";
          background-color: $wordHighlight1;
          right: 12.1rem;
          bottom: 0;
          height: 38px;
          width: 3.5rem;
          position: absolute;
          z-index: -1;
        }
      }

      &.section_banner_text {
        color: $textMainColor2;
        opacity: 0.7;
        margin-top: 1rem;
        font-size: 0.9rem;
      }
    }

    button.section_banner_button {
      @include button($btnTextColor, $btnBackColor);
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 13rem;
    }
  }
}

.footer {
  background-color: $footerBackColor;
  height: 10rem;
  color: $textMainColor2;
  padding: 1rem;

  .footer-wrap {
    margin-top: 4.5rem;
    display: flex;
    opacity: 0.8;
    justify-content: space-between;

    .footer_logo {
      @extend .landing-logo;

      img {
        width: logo-image(35px);
      }

      p {
        color: $cardTextcolor;
      }
    }

    .footer_text {
      width: 13rem;
      margin-left: 17rem;
      font-size: 0.6rem;
    }

    .footer-cr {
      display: flex;
      align-items: center;
      margin-left: 15.2rem;
      font-size: 0.8rem;
    }
  }
}
