$heroImg: url(../img/m-h-night.jpg);
$fontFamilyHeading: "Source Sans Pro", sans-serif;
$fontFamilyText: "Fresca", sans-serif;
$textMainColor1: #fff;
$textMainColor2: #fff;
$wordHighlight1: #ff5050;
$wordHighlight2: #ff5050;
$wordHighlight3: #ff5050;
$btnBackColor: #d6b202;
$btnTextColor: #fff;
$mainBackColor: #222231;
$backCardColor: #3e3e52;
$cardHeadingTextColor: #fff;
$cardTextcolor: #fff;
$bannerGradientColor: linear-gradient(to right, #f90, #a02442);
$footerBackColor: #3e3e52;
