$heroImg: url(../img/m-h-day.jpg);
$fontFamily: Arial, Helvetica, sans-serif;
$textMainColor1: #1b3144;
$textMainColor2: #e2e2e2;
$wordHighlight1: #2ba2da;
$wordHighlight2: #4594b9;
$wordHighlight3: #3fa3de;
$btnBackColor: #4ba734;
$btnTextColor: #fff;
$mainBackColor: #fff;
$backCardColor: #1f1f27;
$cardHeadingTextColor: #fff;
$cardTextcolor: #e2e2e2;
$bannerGradientColor: linear-gradient(to right, #49b130, #0059af);
$footerBackColor: #1f1f27;
